python-dotenv==1.1.0
streamlit==1.45.1
psycopg2==2.9.10
unstructured[md]==0.17.2
smolagents==1.18.0
pandas==2.2.3
mcp==1.9.1
mcp[cli]==1.9.1
smolagents[openai]==1.18.0
smolagents[mcp]==1.18.0
matplotlib==3.10.3
fastapi==0.115.12
uvicorn==0.34.2